<div class="row mx-0 mt-3">
  <%= simple_form_for restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit class: 'btn-elegant' %>
  <% end %>
</div>
