<div class="main">
  <div class="header">
    <h1 class="restaurant-name"><%= @restaurant.name %></h1>
    <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn-elegant" %>
  </div>
  <div class="restaurant-info">
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category.capitalize %></p>
  </div>
  <%= link_to restaurants_path, class: "btn-elegant" do %>
    <i class="fa fa-undo"> Return to restaurants</i>
  <% end %>
  <hr>
  <div class="container">
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-12 col-lg-6">
          <div class="card my-3">
            <div class="card-header bg-dark text-light">Review</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <div class="review-content">
                  <p><%= review.content %></p>
                </div>
              </blockquote>
            </div>
            <div class="review-footer my-0 py-1 d-flex flex-column align-items-center">
              <p>&mdash; <%= review.rating %> stars &mdash;</p>
              <p><%= review.customer_name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
