<div class="container">
  <div class="header">
    <h1><%= @restaurant.name %></h1>
    <%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn-elegant" %>
  </div>
  <div>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <p><%= @restaurant.category.capitalize %></p>
  </div>
  <%= link_to restaurants_path, class: "btn-elegant" do %>
    <i class="fa fa-undo"> Return to restaurants</i>
  <% end %>
</div>
